<div class="builder">
  <form class="form-fields" [formGroup]="formGroup">
    <ng-container *ngFor="let item of items">
      <div class="form-field">
        <mat-label>
          <span>{{ item.title }}</span>
          <span class="required" *ngIf="item.required">*</span>
        </mat-label>

        <ng-container [ngSwitch]="item.type">
          <ng-container *ngSwitchCase="TypeFormEnum.Input">
            <textarea rows="4" cols="50" matInput [formControlName]="item.controlName"></textarea>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <!-- <textarea rows="4" cols="50" matInput [formControlName]="item.controlName"></textarea> -->

            <!-- <mat-checkbox class="example-margin">Checked</mat-checkbox> -->
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </form>

  <button
    (click)="goToAnswer()"
    [disabled]="formGroup.invalid"
    class="builder__footer">
    Review my answers >
  </button>
</div>

