<div class="builder">
  <form class="form-fields" [formGroup]="formGroup">
    <ng-container *ngFor="let item of items">
      <div class="form-field">
        <mat-label>
          <span>{{ item.title }}</span>
          <span class="required" *ngIf="item.required">*</span>
        </mat-label>

        <ng-container [ngSwitch]="item.type">
          <ng-container *ngSwitchCase="TypeFormEnum.Input">
            <textarea rows="4" cols="50" matInput [formControlName]="item.id"></textarea>
          </ng-container>
          <ng-container *ngSwitchCase="TypeFormEnum.Checkbox">
            <app-checkbox [formControlName]="item.id"></app-checkbox>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </form>

  <div class="builder__footer">
    <button
      (click)="addNewQuestion()">
      Add New Question
    </button>

    <button
      (click)="goToAnswer()">
      Review my answers >
    </button>
  </div>
</div>

