.answers {
  display: flex;
  flex-direction: column;
  padding: 16px;

  .answer-item {
    padding-bottom: 8px;

    &__header {
      font-weight: 700;
    }
  }

  &__footer {
    text-decoration: underline;
    cursor: pointer;
  }
}

ul {
  list-style-type: none;
  margin-top: 4px;
  padding-left: 0px;
}
