.new-question {
  &__content {
    padding: 16px;
  }

  &__types {
    display: flex;
    justify-content: space-between;
    button {
      width: 48%;
      padding: 8px;
      margin-bottom: 8px;

      &.active {
        background: red;
        color: white;
      }
    }
  }

  &__question {
    display: flex;
    flex-direction: column;
    input {
      height: 28px;
      padding: 8px;
      margin-bottom: 8px;
    }
  }

  &__footer {
    height: 48px;
    width: 100%;
  }
}
